*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
    overflow: scroll;
}
.cell
{
    height: 16px;
    width: 16px;
    border: solid 1px rgba(0, 0, 0, 0.499);
}

.player {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: green;
    z-index: 999;
    transition: linear top 0.1s, linear left 0.1s; /* This will animate the movement */
}

.blocked
{
    position: relative;
    width: 16px;
    height: 16px;
    background-color: black;
}

.grid {
    width: 800px; /* Width of your game world */
    height: 800px; /* Height of your game world */
    transform: scale(3); /* Adjust this value to get the desired zoom level */
    display: grid;
    grid-template-columns: repeat(50, 16px);
    grid-template-rows: repeat(50, 16px);
}

.game-wrapper
{
    position: relative;
    width: 1440px;
    height: 1440px;
    outline: 1px solid white;
    margin: 0 auto;
    transform: scale(1.5) translateY(25%) translateX(25%); 
}

@media (max-width : 500px) {
    .game-wrapper
{
    position: relative;
    width: 1440px;
    height: 1440px;
    outline: 1px solid white;
    margin: 0 auto;
    transform: scale(2.5) translateY(25%) translateX(25%); 
}
}